.header
{
    height: 100vh;
}

.hero
{
    position: relative;
    height: 90vh;
}
.hero .hero-text 
{
    position: absolute;
    top: 20%;
}

.hero h1
{
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
}
.hero .hero-img
{
    position: absolute;
    top: 20%;
    right: 5%;
}